.image-upload{
    width: auto;
    border: 1px solid black;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    padding: 20px;

   button{
       padding: 5px;
   }
}